.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    body{
    	margin: 0;
    	background-color: #F5FAEB;
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:200px;
  }
      
      li{
          list-style: none;
          margin: 3px;
      }
      
      a{
          color: #000;
      }
      
      .col-sm-6 a:hover{
          text-decoration: none;
          
      }
      
        .fa{
            margin: 2%;
        }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}